{% load l10n formify %}
{% load viewcomponent_tags %}

{% component formify_helper.field_wrapper_component as field_component %}
  {% call field_component.label %}
    {% component formify_helper.label_component field=field formify_helper=formify_helper %}{% endcomponent %}
  {% endcall %}

  {% call field_component.input %}
    <div {% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
      {% for choice in field.field.choices %}
        <label for="id_{{ field.html_name }}_{{ forloop.counter }}" class="{% if css_container.option_label %}{{ css_container.option_label }}{% else %}block text-gray-700{% endif %} mr-3">
          <input type="radio" class="{{ css_container.radioselect }}"{% if choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>
          {{ choice.1|unlocalize }}
        </label>
      {% endfor %}
    </div>
  {% endcall %}

  {% call field_component.field_helper_text_and_errors %}
    {% component formify_helper.field_error_help_text_component field=field formify_helper=formify_helper %}{% endcomponent %}
  {% endcall %}

{% endcomponent %}
