<div id="div_{{ field.auto_id }}" class="{{ formify_helper.field_wrapper_class }}">

  {% if self.label.filled %}
    {% if formify_helper.label_container_class %}
      <div class="{{ formify_helper.label_container_class }}">
        {{ self.label.value }}
      </div>
    {% else %}
      {{ self.label.value }}
    {% endif %}
  {% endif %}

  {% if formify_helper.field_container_class %}
    <div class="{{ formify_helper.field_container_class }}">
      {{ self.input.value }}
      {{ self.field_helper_text_and_errors.value }}
    </div>
  {% else %}
    {{ self.input.value }}
    {{ self.field_helper_text_and_errors.value }}
  {% endif %}

</div>
